:root {
  --bg-800: #222;
  --bg-700: #333;
  --accent-500: hsl(42, 87%, 50%);
  --accent-450: hsl(42, 87%, 55%);
  --accent-400: hsl(42, 87%, 60%); 
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Khula', sans-serif!important;
}

#root {
  min-height: 100vh;
  background-color: var(--bg-700);
  background-image: url(../images/bg.png);
}

.bg-theme-800 {
  background: var(--bg-800)!important;
}

.btn.btn-theme-accent { 
  color: #FFFFFF; 
  background-color: var(--accent-500); 
  border-color: var(--accent-450); 
} 
 
.btn.btn-theme-accent:hover, 
.btn.btn-theme-accent:focus, 
.btn.btn-theme-accent:active, 
.btn.btn-theme-accent.active, 
.open .dropdown-toggle.btn-theme-accent { 
  color: #FFFFFF; 
  background-color: var(--accent-400); 
  border-color: var(--accent-450); 
} 
 
.btn.btn-theme-accent:active, 
.btn.btn-theme-accent.active, 
.open .dropdown-toggle.btn-theme-accent { 
  background-image: none; 
} 
 
.btn.btn-theme-accent.disabled, 
.btn.btn-theme-accent[disabled], 
fieldset[disabled] .btn.btn-theme-accent, 
.btn.btn-theme-accent.disabled:hover, 
.btn.btn-theme-accent[disabled]:hover, 
fieldset[disabled] .btn.btn-theme-accent:hover, 
.btn.btn-theme-accent.disabled:focus, 
.btn.btn-theme-accent[disabled]:focus, 
fieldset[disabled] .btn.btn-theme-accent:focus, 
.btn.btn-theme-accent.disabled:active, 
.btn.btn-theme-accent[disabled]:active, 
fieldset[disabled] .btn.btn-theme-accent:active, 
.btn.btn-theme-accent.disabled.active, 
.btn.btn-theme-accent[disabled].active, 
fieldset[disabled] .btn.btn-theme-accent.active { 
  background-color: var(--accent-500); 
  border-color: var(--accent-450); 
} 
 
.btn.btn-theme-accent .badge { 
  color: var(--accent-500); 
  background-color: #FFFFFF; 
}

@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;700&display=swap');
.font-primary {
  font-family: 'Khula', sans-serif;
  font-weight: 700;
}
.font-secondary {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700!important;
}

.badge {
  height: fit-content;
}

.color-accent {
  color: var(--accent-500);
}