:root {
  --bg-800: #222;
  --bg-700: #333;
  --accent-500: hsl(42, 87, 50);
  --accent-400: hsl(42, 87, 60); 
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
